{% extends "auctions/layout.html" %}
{% block style%}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
{% endblock %}
{% block body %}
<div style="display:flex; flex-direction:column;align-items: center;justify-content: center; border:1px solid black ;width: 90%;background-color: white;padding-top: 50px;padding-bottom: 50px ; ">
    <div style="display:flex; flex-direction:row;width:75% ;">
        <div>
            <h2>Listing:{{item.title}}</h1>
            <img style="width: 400px ;padding-right:20px ;" src="{{item.imgurl}}" alt="img" >
            <h1>Aditional information :</h1>
            <hr>
            <h6>Who Created: {{item.user}}</h3>
            <h6>Category: {{item.category}}</h3>
            <h6>startPrice: $ {{item.starting_bid}}</h3>
            <h6>Description: {{item.discription}}</h3>
        </div>
        
        <div style="padding-left:10px ;">
            <h2>Add your bid :</h1>
                <br>
            {%if closeflag%}
            {%if maxuser.id == user.id%}
            <h4>This listing is inactive </h4>
            <h4 style="color:rgb(22, 158, 22) ;">Congratulations winner is YOU with bid={{maxbid}}</h4>
            {%else%}
            {%if maxuser.id == item.user.id%}
            <h5>this listing is disabled and There was no bid so There was no winner</h5>
               
            {%else%}
            <h4>This listing is inactive and winner is:</h4>
            <h4> Username: {{maxuser.username}} </h4>
            <h4>  bid:{{maxbid}}</h4>

            {%endif%}
            {%endif%}
            {% if user.is_authenticated %}
            <h2></h2>
            {%else%}
            <h4 style="color:red ;">please login to add to watchlist</h4>
            {% endif %}            
            {%else%}
            
            <form action="{%url 'addbid' id %}" onsubmit="return validateForm()" method="post" required>
                {% csrf_token %}
                
                <input type="hidden" id="custId" name="user" value="{{user.username}}">
                <!-- <input type="text" name="newbid" placeholder="bid"> -->
                <h5>current Max Bid is ${{maxbid}}</h5>
                <h6>your bid must be at least as large as the starting bid, and must be greater than any other bids that have been placed (if any)  </h6>
                {% if user.is_authenticated %}
                {{form}}
                <input type="submit" value="add">
                {%if message == True %}
                <h5 style="color:rgb(21, 169, 65) ;">your bid added</h5>
                {%endif%}
                {%if message == False %}
                <h5 style="color:red ;">your bid should be more than ${{maxbid}}  </h5>               
                {%endif%}
                {% else %}
                <h4 style="color:red ;">please login to place your bid or add to watchlist</h4>
                {% endif %}
                
            </form>

            {%endif%}
            {% if user.is_authenticated %}
            {% if bidflag%}
            
                <form action="{%url 'removewatch' id %}" method="post">
                    {% csrf_token %}
                    <hr>
                    <input type="submit" style="width:300px ;height:50px ;font-size: 20px; color:rgb(255, 33, 33);" value="remove from whatchlist">
                </form>

            {% else %}
                
                <form action="{%url 'addwatch' id %}" method="post">
                    {% csrf_token %}
                    <hr>
                    <input type="submit" style="width:300px ;height:50px ;font-size: 20px; color:rgb(219, 144, 31);" value="add to whatchlist">
                </form>
            {% endif %}

            {%endif%}
        </div>
        <div style="padding-left:50px ;display: flex;flex-direction: column;">
            <h2>Bids list:</h2>
            <hr>
            <h6> Username___bid</h6>
                <div style="overflow-x: scroll;overflow-y: scroll;height: 500px; width: 300px;">
                    {%for bid in bidslist%}
                    <div style=" display: flex;flex-direction: row;" >
                    <h5>{{bid.user}} </h5>
                    ____  
                    <h5>${{bid.bid}}</h5>
                    
                    </div>
                    {%empty%}
                    <h4 style="color:red ;">No bids</h4>
                    
                    
                    {%endfor%}
                
                </div>
            


        </div>

    </div>
     <hr>
    {% if user.is_authenticated %}
    <div style="display:flex ; flex-direction:column; padding-top: 20px;">
        <div>
            <form action="{%url 'addcomment' id %}" onsubmit="return validateForm()" method="post" required>
                {% csrf_token %}
                <h2>ADD YOUR COMMENT :</h2>
                <textarea name="comment" id="" cols="100" rows="5"></textarea>
                <br>
    
                <input type="submit" value="add comment">
            </form>
        </div>
        <div style="padding-left:20px ;">
            <br>
            <h1>Comment list:</h1>
            <hr>
            <table style="width:45%">
                <tr>
                    <th>Username</th>
                    <th>comment</th> 
                </tr>
            </table>
            <br>
            {%for comment in comments%}
                <div style="display:flex ; flex-direction:row;">
                    <div  style="color:rgb(220, 61, 159) ;">{{comment.user.username}} </div>
                    <div style="padding-left:220px ;flex-wrap: wrap;  width: 1000px;word-wrap: break-word; " >{{comment.text}}</div>
                </div>
                <hr>

                
            
            <!-- <h3>{{comment.user.username}}             {{comment.text}}</h3> -->
            {%empty%}
            <h4>There is not comment yet</h4>
            {%endfor%}
           
        </div>
    </div>
    {% else %}
    <h4 style="color:red ;">Please login to comment</h4>
    {% endif %}

</div>



{% endblock %}